<% include ../partials/header %>
<% include ../partials/navbar %>

<h1 id="newCampgroundHeader" class="header">Edit Comment</h1>

<div class="campgroundForm">
    <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="text" name="comment[text]" value="<%= comment.text %>" required>
        <button id="formSubmit">Submit!</button>
    </form>
    <div id="goBackDiv">
        <a class="linkButton" href="/campgrounds/<%= campground_id %>">Go Back</a>
    </div>
</div>
<% include ../partials/footer %>