<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="grid-container">
<div class="sidebar">
    <ul>
        <li>Info 1</li>
        <li>Info 2</li>
        <li>Info 3</li>
    </ul>
</div>
<h3 class="header"><a href="#"><%= campground.name %></a></h3>

<img class="image" src="<%= campground.image %>" alt="Picture of <%= campground.name %>">

<p class="description">
    <%= campground.description %>
</p>

<form class="addComment" action="/campgrounds/<%= campground._id %>/comments/new">
    <hr>
    <button id="addCommentButton">
        Add New Comment
    </button>
</form>

    <div class="comment">
<% campground.comments.forEach(function(comment){ %>
        <p class="commentAuthor">
            <strong><%= comment.author %></strong>
            <span class="dateCreatedSpan">10 days ago</span>
        </p>
        <p class="commentText"><%= comment.text %></p>
<% }) %>
    </div>
</div>
<% include ../partials/footer %>